---
title: "Guaranteed savings - Powershop, a better power company"
description: "Get Guaranteed Savings with Powershop. Think you've found a better power price? We guarantee to beat it."
section: "residential"
promotionName: "Guaranteed-savings"
customClass: "promo-aoa"
openTermsAndConditionsInNewPage: "yes"
---

<section class="header white-type text-center savings2016">
  <h2 class="margin-zero">You really can't lose with powershop</h2>
</section>

<div class="light-grey">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container">
      <section class="padding">
        <div class="row text-center">
          <div class="small-11 small-centered medium-10 columns end">
            <h2 class="pink-type">Think you've found a better price? We guarantee to beat it</h2>
            <p>With so many power companies out there it can be hard to work out if you really are getting a good deal. Guaranteed Savings gives you peace of mind that Powershop will save you money on your power bill.</p>
          </div>
        </div>
      </section>

      <section class="padding">
        <div class="row text-center">
          <div class="small-11 small-centered medium-10 columns end padding-bottom-las">
            <h3>How to get your Guaranteed Savings</h3>
            <div class="text-left">
              <p>Send an email to <span class="pink-type">savings@powershop.co.nz</span>, with your most recent bill from your current power company for your main home.
            <hr/>

            <h3>What happens next</h3>
            <ul class="how-to-list">
                            <li>
                                <div class="svg">
                                    <%= partial "/assets/images/price-o-nator/list-01.min.svg" %>
                                </div>
                                <div class="copy">We’ll load the other company’s rate alongside your Powershop account.</div>
                            </li>
                            <li>
                                <div class="svg">
                                    <%= partial "/assets/images/price-o-nator/list-02.min.svg" %>
                                </div>
                                <div class="copy">We’ll monitor what you’re paying us for power and compare that to what you would have paid the other company for the same amount of power.</div>
                            </li>
                            <li>
                                <div class="svg">
                                    <%= partial "/assets/images/price-o-nator/list-03.min.svg" %>
                                </div>
                                <div class="copy">If on the rare chance you end up paying us more than what the other power company would have charged you after 12 months, we’ll pop a credit into your account to make up the difference.</div>
                            </li>
                        </ul>
          </div>
        </div>
      </section>

      <section class="padding">
        <div class="row text-center">
          <div class="small-11 small-centered medium-10 columns end padding-bottom-las">
               <p><a href="#" class="button" id="sendRate">Send us a rate</a></p>
                    <form id="contact" method="post" action="/contact_us/create" class="rates-form" style="display:none;">
                        <fieldset>
                            <label for="name">
                                <span>Name <span class="pink-type">*</span></span>
                                <input id="name" name="name" type="text" title="First name" size="30">
                            </label>
                            <div id="name-error-text" style="display:none;">
                                <p class="error">Name Error</p>
                            </div>
                            <label for="email">
                                <span>Email <span class="pink-type">*</span></span>
                                <input id="email" name="email" type="text" title="Email" size="30">
                            </label>
                            <div id="email-error-text" style="display:none;">
                                <p class="error">Email Error</p>
                            </div>
                            <label for="comment">
                                <span>Message <span class="pink-type">*</span></span>
                                <textarea id="comment" name="comment" rows="9" cols="30" placeholder="Tell us the rate and who it’s from?"></textarea>
                                <p class="text-left">Type the other power company’s rates into the message box above and hit send. If you have an attachment for us to look at please email it to <span class="pink-type">savings@powershop.co.nz</span></p>
                            </label>
                            <div id="comment-error-text" style="display:none;">
                                <p class="error">Message Error</p>
                            </div>
                            <div>
                                <a href="javascript:$('form#contact').submit(); void(0);" class="button switch">Send</a>
                            </div>
                        </fieldset>
                    </form>
                    <p><a href="#" data-reveal-id="overlay_terms_and_conditions">Terms and Conditions</a> apply</p>
                    <div id="overlay_terms_and_conditions" class="reveal-modal" data-reveal>
                        <div class="row padding">
                            <div class="small-12 small-centered medium-10 columns">
                                <h2>Terms and Conditions</h2>
                                <a class="close-reveal-modal">&#215;</a>
                                <p><b>Guaranteed Savings:</b></p>
                                <p>To be eligible for our Guaranteed Savings offer, you must be a new customer (i.e. you have not been a Powershop customer within the last 12 months), and must provide Powershop with your most recent bill from your old retailer for your main home (Competitor’s Bill). We guarantee that you’ll save at least $150 with Powershop over your first year, commencing on the date your switch to Powershop is completed (“Guaranteed Savings Period”). The Competitor’s Bill supplied must be from 1 May 2017 or later and should be emailed to <a href="mailto:savings@powershop.co.nz">savings@powershop.co.nz</a>. Guaranteed Savings will only be offered against retailers with published rates; we will not guarantee savings against Competitors’ Bills where the rates in those bills are based on real time spot market pricing.</p>
                                <p>Your Guaranteed Savings offer is based on the actual cost paid for your electricity (excluding premium products such as Airshed) with Powershop over the Guaranteed Savings Period for your main home, when compared to the cost of the same amount of electricity using the rates in the Competitor’s Bill. Guaranteed Savings only applies against the rates offered by the competitor, and does not apply to any additional incentives (like cash, credit, product offers or other sign up deals) that the competitor may offer.</p>
                                <p>Certain Powershop products are priced at a premium (e.g. Airshed where the additional amount is used to purchase carbon credits). The additional cost of these products (above your Standard Power rate) is excluded from the Guaranteed Savings calculations. This means that when we calculate your spend for the purposes of the Guaranteed Savings, we will use your Standard Power rate for any premium products you purchase during your Guaranteed Savings Period.</p>
                                <p>At the end of your Guaranteed Savings Period, we will complete a full review to make sure that you’ve saved what we promised. In calculating your Guaranteed Savings, we’ll include any rebates or grants of free power we make to you, such as the total $150 account credit. If you’ve met these terms and conditions, and you haven’t saved at least $150 with us, then we’ll put a credit on your account to make good on our guarantee.</p>
                                <p>This savings guarantee does not apply if within your Guaranteed Savings Period: (A) you do not supply a Competitor’s Bill for your main home; (B) you switch away from Powershop or move to a new property supplied by Powershop; (C) we reasonably believe after viewing the Competitor’s Bill, that the rates in the bill are not genuine; (D) we reasonably believe the property in question is not your main home; (E) at the time we calculate your Guaranteed Savings you owe Powershop more than $100 which is at least 60 days overdue (whether on this property or another property).</p>
                                <p>If your metering configuration changes through the year (whether due to a change you request, an error we discover, or for any other reason) then we will use our best endeavours to replicate the cost you would have paid for your power under your Competitor’s Bill by using a usage-based weighted average of the Competitor’s rates and applying this to your new metering configuration.</p>
                                <p>This Guaranteed Savings offer is per residential account and, unless otherwise specified, is not available in conjunction with any other promotional offers available through Powershop from time to time. This offer is only available while it is visible on this webpage. Powershop, at its sole discretion, may amend or cease to offer Guaranteed Savings at any time without notice. In such event, any Guaranteed Savings Periods, which commenced prior to the date Powershop ceased to offer them, will continue to be honoured.</p>
                           </div>
                          </div>
                  </div>
                  <hr/>
                  <h3>How do I know I’m saving?</h3>
                  <p>Every three months or so, we’ll let you know how things are going and make sure that we are keeping our savings commitment to you.</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<section class="light-grey">
  <div class="row padding-bottom-last">
  <div class="small-12 small-centered medium-12 columns end">
    <div class="padding">
      <%= partial "shared/got_questions" %>
    </div>
  </div>
  </div>
</section>

<%= javascript_include_tag  "modules/contact_form_for_priceonator" %>
<script type="text/javascript">
  $(document).ready(function(){
    var cookie = readCookie("questionsOpen");
    if (cookie === "yes") {
      $('#got-questions').show();
    }
    // Define Vimeo player
    var iframe = $('#intro-video')[0];
    var player = $f(iframe);
    $('.vimeo .embed-container').click(function(event) {
      $(".embed-container").addClass("fade-background");
      $('.vimeo h3').fadeOut();
      $('.vimeo .play-btn').fadeOut();
      $('.vimeo .time').fadeOut();
      player.api('play');
    });
    $('#got-questions-link').click(function(){
      createCookie("questionsOpen", "yes", 1);
    })
  });
</script>
<script src="/assets/javascripts/third-party/froogaloop.js" type="text/javascript"></script>
