---
title: "Guaranteed savings - Powershop, a better power company"
description: "Get Guaranteed Savings with Powershop. Think you've found a better power price? We guarantee to beat it."
section: "residential"
promotionName: "Guaranteed-savings"
customClass: "promo-aoa"
openTermsAndConditionsInNewPage: "yes"
---

<section class="header white-type text-center savings2016">
  <h2 class="margin-zero">You really can't lose with powershop</h2>
</section>

<div class="light-grey">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container">
      <section class="padding">
        <div class="row text-center">
          <div class="small-11 small-centered medium-10 columns end">
            <h2 class="pink-type">Think you've found a better price? We guarantee to beat it</h2>
            <p>With so many power companies out there it can be hard to work out if you really are getting a good deal.</p>
            <p>Guaranteed Savings gives you peace of mind that Powershop will save you money on your power bill, whether you’re an existing customer or switching to us.</p>
          </div>
        </div>
      </section>

      <section class="padding">
        <div class="row text-center">
          <div class="small-11 small-centered medium-10 columns end padding-bottom-las">
            <h3>How to get your Guaranteed Savings</h3>
            <div class="text-left">
              <p><b>If you’re switching to Powershop:</b></p>
              <p>Send an email to <span class="pink-type">savings@powershop.co.nz</span>, with a bill from the current power company for your main home.</p>
              <p><b>If you’re an existing Powershop customer:</b></p>
              <p>Send an email to <span class="pink-type">savings@powershop.co.nz</span>, with evidence of another power company’s published rate which is currently available to you at your main home.</p>
              <p><b>If you’ve just moved into a new home, either as a new or existing customer:</b></p>
              <p>Send an email to <span class="pink-type">savings@powershop.co.nz</span>, with evidence of another power company’s published rate which is available to you at your new main home.</p>
            </div>
            <hr/>

            <h3>What happens next</h3>
            <ul class="how-to-list">
                            <li>
                                <div class="svg">
                                    <%= partial "/assets/images/price-o-nator/list-01.min.svg" %>
                                </div>
                                <div class="copy">We’ll load the other company’s rate alongside your Powershop account.</div>
                            </li>
                            <li>
                                <div class="svg">
                                    <%= partial "/assets/images/price-o-nator/list-02.min.svg" %>
                                </div>
                                <div class="copy">We’ll monitor what you’re paying us for power and compare that to what you would have paid the other company for the same amount of power.</div>
                            </li>
                            <li>
                                <div class="svg">
                                    <%= partial "/assets/images/price-o-nator/list-03.min.svg" %>
                                </div>
                                <div class="copy">If on the rare chance you end up paying us more than what the other power company would have charged you after 12 months, we’ll pop a credit into your account to make up the difference, plus a little bit extra to ensure you’re really saving. </div>
                            </li>
                        </ul>
                        <div class="compare-machine">
                                 <img src="/assets/images/promos/aoa/compare-savings.min.svg" />
                       </div>
          </div>
        </div>
      </section>

      <section class="padding">
        <div class="row text-center">
          <div class="small-11 small-centered medium-10 columns end padding-bottom-las">
               <p><a href="#" class="button" id="sendRate">Send us a rate</a></p>
                    <form id="contact" method="post" action="/contact_us/create" class="rates-form" style="display:none;">
                        <fieldset>
                            <label for="name">
                                <span>Name <span class="pink-type">*</span></span>
                                <input id="name" name="name" type="text" title="First name" size="30">
                            </label>
                            <div id="name-error-text" style="display:none;">
                                <p class="error">Name Error</p>
                            </div>
                            <label for="email">
                                <span>Email <span class="pink-type">*</span></span>
                                <input id="email" name="email" type="text" title="Email" size="30">
                            </label>
                            <div id="email-error-text" style="display:none;">
                                <p class="error">Email Error</p>
                            </div>
                            <label for="comment">
                                <span>Message <span class="pink-type">*</span></span>
                                <textarea id="comment" name="comment" rows="9" cols="30" placeholder="Tell us the rate and who it’s from?"></textarea>
                                <p class="text-left">Type the other power company’s rates into the message box above and hit send. If you have an attachment for us to look at please email it to <span class="pink-type">savings@powershop.co.nz</span></p>
                            </label>
                            <div id="comment-error-text" style="display:none;">
                                <p class="error">Message Error</p>
                            </div>
                            <div>
                                <a href="javascript:$('form#contact').submit(); void(0);" class="button switch">Send</a>
                            </div>
                        </fieldset>
                    </form>
                    <p><a href="#" data-reveal-id="overlay_terms_and_conditions">Terms and Conditions</a> apply</p>
                    <div id="overlay_terms_and_conditions" class="reveal-modal" data-reveal>
                        <div class="row padding">
                            <div class="small-12 small-centered medium-10 columns">
                                <h2>Terms and Conditions</h2>
                                <a class="close-reveal-modal">&#215;</a>
                                <p><b>What you need to do in order to qualify for Guaranteed Savings</b></p>
                                <ul>
                                  <li>If you’re a new customer signing up to Powershop:</li>
                                </ul>
                                <p>Send us your most recent bill from your old retailer for your main home (Competitor’s Bill) and we’ll guarantee that you’ll save with Powershop over your first year. We’ll include any rebates or grants of free power we make to you as part of your Guaranteed Savings, such as any account credits you received when you signed up to Powershop. The Competitor’s Bill supplied must be from 1 May 2016 or later and, if we ask, you must supply an original copy of that Competitor’s Bill. Your Guaranteed Savings period will be for 12 months, commencing on the date your switch to Powershop is completed (Guaranteed Savings Period).</p>
                                <ul>
                                  <li>If you’re an existing Powershop customer; or</li>
                                  <li>You’ve just moved into a new home, (either as a new or existing Powershop customer):</li>
                                </ul>

                                <p>You must provide Powershop with written evidence of a competitor’s publicly available electricity price that you have either found or been offered (Competitor’s Offer). The Competitor’s Offer must be currently available at the time you send it to us. Both you and your main home must be eligible for that particular Competitor’s Offer (in other words, you must have the correct metering configuration and fit all other criteria). We may ask for proof of this eligibility in order for us to apply your Guaranteed Savings. Your Guaranteed Savings period will be for 12 months, commencing on the date we receive and accept the Competitor’s Offer from you (Guaranteed Savings Period).</p>
                                <p>Your savings guarantee is based on the actual cost of your electricity with Powershop over the next year for your main home, when compared to the cost of the same amount of electricity using the rates in the Competitor’s Bill or Offer you have provided to us.</p>
                                <p>Powershop can only offer the savings guarantee against Competitors with published rates. We will not guarantee savings on Competitors' Bills or Offers where the rates in those Bills or Offers are based on real time spot market pricing.</p>
                                <p>The savings guarantee only applies to the rates offered by our competitors and does not apply to any additional incentives (like cash offers), or sign up deals. If the Competitor’s Offer is for a fixed period of less than 12 months or only available until a fixed date then your savings guarantee will be valid for that particular period. After that fixed period Powershop will match the best publicly available offer from that same competitor for the remainder of your 12 month Guaranteed Savings period. If the Competitor’s Offer is for a fixed period of longer than 12 months, we will only guarantee that price for the 12 months from the date when we notify you that we’ve accepted the competitor’s price.</p>
                                <p>Certain Powershop products are priced at a premium (e.g. Airshed where the additional amount is used to purchase carbon credits). The additional cost of these products (above your Standard Power rate) is excluded from the Guaranteed Savings calculations. This means that when we calculate your spend for the purposes of the Guaranteed Savings, we will use your Standard Power rate for any premium products you purchase during the period of the savings guarantee.</p>
                                <p>The savings guarantee does not apply if, within your Guaranteed Savings Period: (A) you switch away from Powershop; (B) we reasonably believe after viewing the Competitor’s Bill or Offer, or after you refuse to supply us with the original copy of the Competitor’s Bill, that the rates in the Competitor’s Bill or Offer are not genuine; (C) we reasonably believe the property in question is not your main home; (E) at the time we calculate your Guaranteed Savings you owe Powershop more than $100 which is at least 60 days overdue (whether on this property or another property).</p>
                                <p>If your metering configuration changes through the year (whether due to a change you request, an error we discover, or for any other reason) then we will use our best endeavours to replicate the cost you would have paid for your power under your old Competitor’s Bill, or Competitor’s Offer by using a usage-based weighted average of your old retailer’s rates, or those provided in the Competitor’s Offer and applying this to your new metering configuration. This offer for Guaranteed Savings is per residential account and is not available in conjunction with any other promotional offers available through Powershop from time to time.</p>
                                <p>Powershop at its sole discretion may amend or cease to offer Guaranteed Savings at any time without notice. In such event, any Guaranteed Savings Periods, which commenced prior to the date Powershop ceased to offer them, will continue to be honoured.</p>
                           </div>
                          </div>
                  </div>
                  <hr/>
                  <h3>Will my rates change?</h3>
                  <p>Guaranteed Savings won’t change your Powershop rates – it’s more like a safety net for you and the price you pay for power. Buying your monthly Simple Saver and our regular discounted specials is still the best way to save with Powershop.</p>
                  <h3>How do I know I’m saving?</h3>
                  <p>Every three months or so, we’ll let you know how things are going and make sure that we are keeping our savings commitment to you.</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<section class="light-grey">
  <div class="row padding-bottom-last">
  <div class="small-12 small-centered medium-12 columns end">
    <div class="padding">
      <%= partial "shared/got_questions" %>
    </div>
  </div>
  </div>
</section>

<%= javascript_include_tag  "modules/contact_form_for_priceonator" %>
<script type="text/javascript">
  $(document).ready(function(){
    var cookie = readCookie("questionsOpen");
    if (cookie === "yes") {
      $('#got-questions').show();
    }
    // Define Vimeo player
    var iframe = $('#intro-video')[0];
    var player = $f(iframe);
    $('.vimeo .embed-container').click(function(event) {
      $(".embed-container").addClass("fade-background");
      $('.vimeo h3').fadeOut();
      $('.vimeo .play-btn').fadeOut();
      $('.vimeo .time').fadeOut();
      player.api('play');
    });
    $('#got-questions-link').click(function(){
      createCookie("questionsOpen", "yes", 1);
    })
  });
</script>
<script src="/assets/javascripts/third-party/froogaloop.js" type="text/javascript"></script>
