---
title: "Credit - Powershop, a better power company"
section: "residential"
promotionID: "848"
promotionName: "$165 Credit & SG Offer (848)"
customClass: "credit165"
openTermsAndConditionsInNewPage: "yes"
hidePowerYouCanLove: true
section: "none"
---

  <section class="header-background white-type text-center trumphead">
    <div class="row">
        <div class="small-12 small-centered columns end">
            <div class="padding">
                <img src="../assets/images/promos/165credit-sg/165-sg-banner.png" alt="165 Free Power and Savings Guarantee over the year" title="165 Free Power and Savings Guarantee over the year" />
            </div>
        </div>
    </div>
</section>
<section class="light-grey mobile-white">
    <div class="row">
        <div class="small-12 small-centered columns end">
            <div class="row text-center padding white promo-body">
                <div class="small-12 small-centered medium-9 columns end">
                    <p class="big">
                      When you switch your main home to Powershop we’ll give you $165 free power, spread over your first three months. We also guarantee to save you money in your first year compared to your old power company.
                    </p>
                      <img src="../assets/images/promos/165credit-sg/165.png" alt="165 Savings Guarantee" title="165 Savings Guarantee" />
                    <hr/>
                    <h3>Sounds great! Tell me more!</h3>
                    <p class="big">
                      Fill in your contact details below and a friendly Powershop rep will be in touch with you in the next few days, to answer any burning questions and get you on board with your Guaranteed Savings.
                    </p>
                </div>
            </div>

            <div class="row white promo-body">
                <div class="small-12 small-centered medium-6 columns end">
                    <form id="contact" method="post" action="/contact_us/create" name="<%= current_page.data.promotionName %>">
                        <fieldset>
                            <div>
                                <label for="name">First Name <span class="pink-type">*</span>
                                    <input id="name" name="name" type="text" title="First name" />
                                </label>
                                <div id="name-error-text" class="hide">
                                    <p class="pink-type">Name Error</p>
                                </div>
                            </div>
                            <div>
                                <label for="last-name">Last name <span class="pink-type">*</span>
                                    <input id="last-name" name="last-name" type="text" title="Last Name" />
                                    <div id="last-name-error-text" class="hide">
                                        <p class="pink-type">Last Name Error</p>
                                    </div>
                                </label>
                            </div>
                            <div>
                                <label for="email">Email <span class="pink-type">*</span>
                                    <input id="email" name="email" type="text" title="Email" size="30">
                                    <div id="email-error-text" class="hide">
                                        <p class="pink-type">Email Error</p>
                                    </div>
                                </label>
                            </div>
                            <div>
                                <label for="phone-number">Telephone number <span class="pink-type">*</span>
                                    <input id="phone-number" name="phone-number" type="text" title="Telephone number" />
                                    <div id="phone-error-text" class="hide">
                                        <p class="pink-type">Email Error</p>
                                    </div>
                                </label>
                            </div>
                            <div>
                                <label for="time-to-call">Best time to call <span class="pink-type">*</span>
                                    <select id="time-to-call">
                                        <option>Morning</option>
                                        <option>Lunch time</option>
                                        <option>Afternoon</option>
                                        <option>Evening</option>
                                    </select>
                                </label>
                            </div>
                            <p class="small"><span class="pink-type">*</span> required information</p>
                            <input id="comment" name="comment" type="hidden"></input>
                            <div class="text-center">
                                <p><a href="javascript:$('form#contact').submit(); void(0);" class="button switch">Send details<%= partial "assets/images/common/arrow.min.svg" %></a></p>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <div class="row text-center padding white promo-body">
                <div class="small-12 small-centered medium-9 columns end">
                    <hr/>
                    <h3>Ready to Switch Now?</h3>
                    <%= partial "shared/switch_now" %>
                    <p class="big">
                      To get your Guaranteed Savings, you’ll need to send us a recent bill from your old power company. We’ll ask you for this later.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <%= partial "terms-and-conditions" %>
</section>

<section class="light-grey">
  <div class="row padding padding-bottom-last">
    <%= partial "shared/got_questions" %>
    <%= partial "shared/well_get_in_touch" %>
    <%= partial "shared/live_help_now" %>
  </div>
</section>

<%= javascript_include_tag  "modules/contact_form_follow_trump.js" %>
