---
title: "Credit - Powershop, a better power company"
section: "residential"
promotionID: "1245"
promotionName: "$150 Credit & SG Offer (1245)"
customClass: "new-150credit"
openTermsAndConditionsInNewPage: "yes"
---

<section class="header-background magenta white-type text-center">
  <h2>You really can't lose with powershop</h2>
</section>

<section class="light-grey mobile-white promo-body">
  <div class="row text-center">
    <div class="small-12 small-centered medium-11 columns end">
      <div class="row padding white">
        <div class="small-12 small-centered medium-11 columns end">
          <h2 class="pink-type titles">Shopper - Sign up to a better power company</h2>
          <div class="badges">
            <%= partial "/assets/images/campaigns/you-cant-lose/150-free-power.min.svg" %>
            <%= partial "/assets/images/campaigns/you-cant-lose/guaranteed-savings.svg" %>
          </div>
          <p class="big">
            Shopper - When you switch your main home to Powershop we’ll give you $150 free power, spread over your first six months. You’re also <a href="/shopper">Shopper link</a> in your first year.
          </p>
          <hr/>
        </div>
      </div>
      <div class="row">
        <div class="small-12 small-centered columns end">
          <div class="row white">
            <div class="small-12 small-centered medium-10 lend columns">
              <%= partial "shared/mm_mobile_call_us" %>
              <div class="padding">
                <%= partial "shared/sign_up" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= partial "terms-and-conditions" %>


  <div class="row text-center">
    <div class="small-12 small-centered medium-11 columns end">
      <div class="row padding white">
        <div class="small-12 small-centered medium-11 columns end">
          <h2 class="pink-type titles">Vanilla - Sign up to a better power company</h2>
          <div class="badges">
            <%= partial "/assets/images/campaigns/you-cant-lose/150-free-power.min.svg" %>
            <%= partial "/assets/images/campaigns/you-cant-lose/guaranteed-savings.svg" %>
          </div>
          <p class="big">
            Vanilla - When you switch your main home to Powershop we’ll give you $150 free power, spread over your first six months. You’re also <a href="/tracker">Tracker link</a> in your first year.
          </p>
          <hr/>
        </div>
      </div>
      <div class="row">
        <div class="small-12 small-centered columns end">
          <div class="row white">
            <div class="small-12 small-centered medium-10 lend columns">
              <%= partial "shared/mm_mobile_call_us" %>
              <div class="padding">
                <%= partial "shared/sign_up" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= partial "terms-and-conditions" %>

</section>

<div class="purple">
    <div class="row padding plans" data-equalizer>
        <div class="small-12 small-centered text-center columns end">
            <h2 class="white-type">Choose from two plans</h2>
            <p class="white-type">Choose the plan that suits your business needs</p>
        </div>
        <div class="small-12 medium-6 columns">
            <div class="white columns plan-container" data-equalizer-watch>
                <p class="plan-number">Shopper</p>
                <h2 class="medium-text-left">Go with the flow</h2>
                <img alt="Seasonal Plan" title="Go with the flow" src="/assets/images/business/plan-seasonal-rate.png" />
                <p>Make hay while the sun shines with Powershop’s Seasonal Plan. Your usage rates change as demand for electricity changes during the year – up in autumn and winter, then down again in spring and summer. Your usage rates will vary month to month but your daily charge will remain fixed.</p>
                <p>There are no fixed-term contracts – we won’t lock you in. But whenever you need it, you’ll get prompt personal service from one of our friendly business team members.</p>
                <p class="small">Is this plan right for my business?</p>
                <img alt="Seasonal Plan Price Graph" title="Seasonal Plan Price Graph" class="graph" src="/assets/images/business/graph-seasonal.png" />
                <p class="small">Powershop’s Seasonal Plan is good for small-medium sized businesses who like to follow seasonal price changes.</p>
            </div>
        </div>
        <div class="small-12 medium-6 columns end">
            <div class="white columns plan-container" data-equalizer-watch>
                <p class="plan-number">Vanilla</p>
                <h2 class="medium-text-left">Fix and forget</h2>
                <img alt="Fixed Plan" title="Fix and forget" src="/assets/images/business/plan-fixed.png" />
                <p>With Powershop’s Fixed Energy Plan, we’ll lock down your energy charges that make up part of your power bill*, so you can accurately forecast your costs.</p>
                <p>Multi-property management is a cinch with only one invoice and one due date.</p>
                <p>Get in touch today to see if your business is eligible for a Fixed Energy Plan.</p>
                <p><small>* The Fixed Energy Price Plan excludes any changes to GST and network charges.</small></p>
                <p class="small">Is this plan right for my business?</p>
                <img alt="Fixed Plan Price Graph" title="Fixed Plan Price Graph" class="graph" src="/assets/images/business/graph-fixed-plan.png" />
                <p class="small">Powershop’s Fixed Energy Plan is good for medium-larger sized businesses who like to forecast costs with absolute certainty.</p>
            </div>
        </div>
    </div>
</div>


<section class="light-grey">
  <div class="row padding padding-bottom-last">
    <%= partial "shared/got_questions" %>
    <%= partial "shared/live_help_now" %>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function(){
    var cookie = readCookie("questionsOpen");
    if (cookie === "yes") {
      $('#got-questions').show();
    }
    // Define Vimeo player
    var iframe = $('#intro-video')[0];
    var player = $f(iframe);
    $('.vimeo .embed-container').click(function(event) {
      $(".embed-container").addClass("fade-background");
      $('.vimeo h3').fadeOut();
      $('.vimeo .play-btn').fadeOut();
      $('.vimeo .time').fadeOut();
      player.api('play');
    });
    $('#got-questions-link').click(function(){
      createCookie("questionsOpen", "yes", 1);
    })
  });
</script>
<script src="/assets/javascripts/third-party/froogaloop.js" type="text/javascript"></script>
