---
title: "Power prices - Powershop, a better power company"
description: "Select your area to see the average monthly price Powershop customers near you are paying for their electricity."
section: "residential"
navigation: "prices"
---

<div id="calculator" class="">
    <section id="error-view" class="bg-gradient error" style="display:none;">
        <div class="row padding white-type text-center">
            <div class="small-12 columns end">
                <h1>Um, er... ok?</h1>
                <h3>Sorry 'bout this, but something went wrong.</h3>
                <%= partial "assets/images/404/baby.svg" %>
                <p>Perhaps you oughta head on over to the <a href="/">home page</a>.</p>
            </div>
        </div>
    </section>
    <section id="network-area">
        <div class="magenta">
            <div class="row padding">
                <div class="small-12 small-centered medium-8 columns text-center white-type end padding">
                    <h2>Find your price</h2>
                    <p class="big">Select your area to see the average monthly price Powershop redidential customers * near you are paying for their electricity.</p>
                    <p class ="small">* Based on Powershop Classic</p>
                    <form id="available-network-areas-form" class="select-your-area">
                        <p>
                            <label>Select your area</label>
                            <select id="available-network-areas">
                                <% network_areas.each do |network_area| %>
                                    <option value='<%= network_area_path(network_area) %>'><%= network_area %></option>
                                <% end %>
                            </select>
                            <button type="submit">Select</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="white">
            <div class="row padding">
                <div class="small-12 small-centered medium-10 large-7 columns text-center end">
                    <h2 class="margin-zero">Get a friendly human to run the numbers for you</h2>
                </div>
            </div>
            <div class="row">
                <div class="small-9 small-centered medium-7 large-5 columns text-center end">
                    <a href="tel:0800-1000-60">
                        <%= partial "assets/images/homes/phone-and-icon-pink.min.svg" %>
                    </a>
                    <p class="big padding">Call us between 8am - 8pm, Monday to Friday.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="very-light-grey switch-phone" style="display:none;">
        <div class="row padding">
            <div class="small-12 small-centered medium-8 columns text-center end">
                <%= partial "assets/images/homes/winky-chat.min.svg" %>
                <h2 class="margin-zero">Switch on the phone</h2>
            </div>
        </div>
        <div class="row">
            <div class="small-8 small-centered medium-7 large-5 columns text-center end">
                <a href="tel:0800-1000-60">
                    <%= partial "assets/images/homes/phone-and-icon-pink.min.svg" %>
                </a>
                <p class="big padding">Call us between 8am - 8pm, Monday to Friday.</p>
            </div>
        </div>
    </section>
</div>

<%= javascript_include_tag  "modules/how-much-does-it-cost" %>
