---
title: "Credit - Powershop, a better power company"
section: "residential"
---

<section class="header-background white white-type text-center">
    <div class="row">
        <div class="small-12 small-centered medium-12 large-8 columns end">
            <h2>Your Price Protector</h2>
        </div>
    </div>
</section>

<section class="light-grey mobile-white promo-body">
    <div class="row text-center">
        <div class="small-12 small-centered columns end">
            <div class="row white">
                <div class="small-12 small-centered medium-10 columns end">
                    <%= partial "/assets/images/price-o-nator/price-o-nator.min.svg" %>
                        <h2 class="pink-type padding">Think you've found a better price?<br/>Price-o-nator guarantees to beat it</h2>
                        <p class="big margin-zero padding-bottom-last">
                            With so many power companies out there it can be hard to work out if you really are on a good deal.
                            <br/>The Price-o-nator gives you peace of mind that you’re not paying more than you need to with Powershop.
                        </p>
                        <h3>How do I use it?</h3>
                        <ul class="how-to-list">
                            <li>
                                <div class="svg">
                                    <%= partial "/assets/images/price-o-nator/list-01.min.svg" %>
                                </div>
                                <div class="copy">Send an email to <span class="pink-type">price-o-nator@powershop.co.nz</span>, with evidence of another power company’s published rate which is currently available to you at your main home.</div>
                            </li>
                            <li>
                                <div class="svg">
                                    <%= partial "/assets/images/price-o-nator/list-02.min.svg" %>
                                </div>
                                <div class="copy">We’ll load the rate into the Price-o-nator, alongside your Powershop account.</div>
                            </li>
                            <li>
                                <div class="svg">
                                    <%= partial "/assets/images/price-o-nator/list-03.min.svg" %>
                                </div>
                                <div class="copy">The Price-o-nator will monitor what you’re paying us for power and compare that to what you would have paid the other company for the same amount of power.</div>
                            </li>
                        </ul>
                        <hr/>
                </div>
            </div>
            <div class="row white">
                <div class="small-12 small-centered medium-10 columns end">
                    <h3>How does it work?</h3>
                    <p class="big">
                        In most cases you’ll save with Powershop. If on the rare chance you end up paying us more than what the other power company would have charged you after 12 months, the Price-o-nator will roll into action and pop a credit into your account. The credit amount will be equal to the difference between what you paid Powershop and what you would have paid the other power company, plus a little bit extra.
                    </p>
                    <div class="compare-machine">
                        <img src="/assets/images/price-o-nator/compare-machine.min.svg" />
                    </div>
                    <p><a href="#" class="button" id="sendRate">Send us a rate</a></p>
                    <form id="contact" method="post" action="/contact_us/create" class="rates-form" style="display:none;">
                        <fieldset>
                            <label for="name">
                                <span>Name <span class="pink-type">*</span></span>
                                <input id="name" name="name" type="text" title="First name" size="30">
                            </label>
                            <div id="name-error-text" style="display:none;">
                                <p class="error">Name Error</p>
                            </div>
                            <label for="email">
                                <span>Email <span class="pink-type">*</span></span>
                                <input id="email" name="email" type="text" title="Email" size="30">
                            </label>
                            <div id="email-error-text" style="display:none;">
                                <p class="error">Email Error</p>
                            </div>
                            <label for="comment">
                                <span>Message <span class="pink-type">*</span></span>
                                <textarea id="comment" name="comment" rows="9" cols="30" placeholder="Tell us the rate and who it’s from?"></textarea>
                                <p class="text-left">Type the other power company’s rates into the message box above and hit send. If you have an attachment for us to look at please email it to <span class="pink-type">price-o-nator@powershop.co.nz</span></p>
                            </label>
                            <div id="comment-error-text" style="display:none;">
                                <p class="error">Message Error</p>
                            </div>
                            <div>
                                <a href="javascript:$('form#contact').submit(); void(0);" class="button switch">Send</a>
                            </div>
                        </fieldset>
                    </form>
                    <p><a href="#" data-reveal-id="overlay_terms_and_conditions">Terms and Conditions</a> apply</p>
                    <div id="overlay_terms_and_conditions" class="reveal-modal" data-reveal>
                        <div class="row padding">
                            <div class="small-12 small-centered medium-10 columns">
                                <h2>Terms and Conditions</h2>
                                <a class="close-reveal-modal">&#215;</a>
                                <p>To be eligible for a Price-o-nator comparison you must provide Powershop with written evidence of a competitor’s electricity price that you have either found or been offered while this page is visible. The competitor’s offer must not be more than 1 month old at the time you send it to us. Both you and your main home must be eligible for that particular price (in other words, you must have the correct metering configuration and fit all other criteria). We may ask for proof of this eligibility in order for us to apply your Price-o-nator comparison. We will not offer a Price-o-nator comparison on competitors' the prices if those prices are based on real time spot market pricing. </p>
                                <p>The Price-o-nator comparison is based on the actual cost of your electricity with Powershop over the next 12 months for your main home, when compared to the cost of the same amount of electricity for that same period, using the prices in the competitor’s offer which you provided to Powershop. The Price-o-nator only applies to the prices offered by our competitors and does not apply to any additional incentives (like cash offers), or sign up deals. If the competitor’s price is for a fixed period of less than 12 months or only available until a fixed date then your Price-o-nator comparison will be valid for that particular period. After that fixed period Powershop will match the best publicly available offer from that same competitor, as shown on Powerswitch, for the remainder of your 12 month Price-o-nator period. If the competitor’s price is for a fixed period of longer than 12 months, we will only guarantee that price for the 12 months from when we notify you that we’ve accepted the competitor’s price.</p>
                                <p>The Price-o-nator comparison offer will not apply if within 12 months of the comparison being applied: (A) you switch away from Powershop or move to a new property supplied by Powershop; (B) we reasonably believe after viewing the competitor’s offer that you supplied to us that the prices in that offer are not genuine; (C) we reasonably believe the property in question is not your main home; (D) at the time we calculate your Price-o-nator comparison you owe Powershop more than $100 which is at least 60 days overdue (whether on this property or another property); or (E) your metering configuration changes through the year (whether due to a change you request, an error we discover, or for any other reason).</p>
                                <p>This Price-o-nator comparison is per residential account for primary place of residence (main home) and is only available to existing Powershop customers.</p>
                            </div>
                        </div>
                    </div>
                    <hr/>
                </div>
            </div>
            <div class="row white padding-bottom-last">
                <div class="small-12 small-centered medium-10 columns end">
                    <h3>Will my rates change?</h3>
                    <p class="big">The Price-o-nator won’t change your Powershop rates – it’s more like a safety net for you and the price you pay for power. Buying your monthly Simple Saver and our regular discounted specials is still the best way to save with Powershop.</p>
                    <h3>How do I know I’m saving?</h3>
                    <p class="big">Every three months or so, we’ll let you know how things are going and make sure that we are keeping our savings commitment to you.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="light-grey">
    <div class="row padding padding-bottom-last">
        <%= partial "shared/got_questions" %>
            <%= partial "shared/live_help_now" %>
    </div>
</section>

<%= javascript_include_tag  "modules/contact_form_for_priceonator" %>
