---
title: "Credit - Powershop, a better power company"
section: "residential"
promotionID: "904"
promotionName: "$150 Credit & SG Offer (904)"
customClass: "credit150 power-the-flat"
---

<section class="header-background white-type text-center">
  <div class="row">
    <div class="small-12 small-centered medium-10 large-8 columns end">
      <%= partial "/assets/images/promos/bribe/150-offer-white.svg" %>
    </div>
  </div>
</section>

<section class="light-grey mobile-white promo-body">
  <div class="row text-center">
    <div class="small-12 small-centered medium-11 columns end">
      <div class="row padding white">
        <div class="small-12 small-centered medium-11 columns end">
          <h2 class="pink-type titles">Get $150 worth of free power</h2>
        </div>
      </div>
      <div class="row">
        <div class="small-12 small-centered columns end">
          <div class="row white">
            <div class="small-12 small-centered end columns">
              <h3>Switch to Powershop and get $150 worth of free power over your first three months. That’s a whole lot of pizza!</h3>
              <h4>Why Powershop is the power company for students:</h4>
              <div class="row">
                <div class="small-12 small-centered medium-9 end columns">
                  <div class="key-message">
                    <p><span>Pay as you go or whenever suits the flat, with no late payment fees</span></p>
                    <p><span>Save money with our regular discounted power specials</span></p>
                    <p><span>Track your usage on the go with our mobile app</span></p>
                    <p><span>No nasty surprise bills that blow the flat budget</span></p>
                    <p><span>No fixed-term contracts</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 small-centered columns end">
          <div class="row white">
            <div class="small-12 small-centered medium-10 lend columns">
              <%= partial "shared/mm_mobile_call_us" %>
              <div class="padding">
                <%= partial "shared/switch_now" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="overlay_terms_and_conditions" class="reveal-modal" data-reveal>
    <div class="row padding">
      <div class="small-12 small-centered medium-10 columns">
        <h2>Terms and Conditions</h2>
        <a class="close-reveal-modal">&#215;</a>
        <h4>$150 Credit:</h4>
        <p>This offer is for new customers only. You will not be eligible to receive this account credit if you’ve received credit for signing up to Powershop within the last 6 months. To receive the $150 worth of free power you need to sign your main home up to Powershop via this page while it is visible. Once you’ve been switched to Powershop, we will credit your account with $50 and you’ll receive a $50 credit on the 20th of each of the following two months. The three account credits worth a total of $150 are only available for use in Powershop for purchasing electricity products and cannot be refunded or redeemed for cash. If you switch away from Powershop within 3 months of becoming a customer then you will not receive any un-credited amounts under this promotion. Your eligibility for this promotion is dependent on you authorising Powershop to conduct a credit check using the details you sign up with, and Powershop being satisfied with the results of that credit check.</p>
      </div>
    </div>
</section>

<section class="light-grey">
  <div class="row padding padding-bottom-last">
    <%= partial "shared/got_questions" %>
    <%= partial "shared/well_get_in_touch" %>
    <%= partial "shared/live_help_now" %>
  </div>
</section>
