---
title: "Credit - Powershop, a better power company"
section: "residential"
promotionID: "1102"
promotionName: "$150 Credit & SG Offer (1102)"
customClass: "new-150credit"
openTermsAndConditionsInNewPage: "yes"
---

<section class="header-background magenta white-type text-center">
  <h2>You really can't lose with powershop</h2>
</section>

<section class="light-grey mobile-white promo-body">
  <div class="row text-center">
    <div class="small-12 small-centered medium-11 columns end">
      <div class="row padding white">
        <div class="small-12 small-centered medium-11 columns end">
          <h2 class="pink-type titles">Switch to a better power deal</h2>
          <div class="badges">
            <%= partial "/assets/images/campaigns/you-cant-lose/150-free-power.min.svg" %>
            <%= partial "/assets/images/campaigns/you-cant-lose/guaranteed-savings.svg" %>
          </div>
          <p class="big">
            When you switch your main home to Powershop we’ll give you $150 free power, spread over your first six months. You’re also guaranteed to save in your first year.
          </p>
          <hr/>
          <div class="vimeo">
            <div class='embed-container'>
              <img alt="" title="" class="play-btn" src="/assets/images/homes/play.min.svg" />
              <div class="time">1:17</div>
              <iframe sandbox="allow-same-origin allow-scripts" id="intro-video" src='https://player.vimeo.com/video/151571681?title=0&amp;byline=0&amp;portrait=0' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
          </div>
          <p class="big">
            With so many power companies to choose from it can be hard to work out if you’ll actually save money by switching. With Powershop’s Guaranteed Savings, we take away the smoke and mirrors so you know you’re getting a better deal.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="small-12 small-centered columns end">
          <div class="row white">
            <div class="small-12 small-centered medium-11 end columns">
              <hr />
              <h3>How we guarantee your savings</h3>
              <div class="row">
                <div class="small-11 small-centered medium-9 end columns">
                  <ol class="ordered-list">
                    <li>Switch to Powershop.</li>
                    <li>Send a copy of your old bill to <span class="pink-type">savings@powershop.co.nz</span></li>
                    <li>We’ll keep track of what you’re paying us vs what you would have paid your old power company.</li>
                    <li>Every six months or so we’ll be in touch to let you know how your savings are going. If you’re not saving we’ll fix you up as we go.</li>
                    <li>After 12 months we’ll do a full review to make sure that you’ve saved what we promised - if, for whatever reason, you haven’t then we’ll put a final credit on your account to ensure you do.</li>
                  </ol>
                </div>
              </div>
              <p class="big margin-zero">Our prices are already hard to beat, and with Guaranteed Savings you genuinely can’t lose!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 small-centered columns end">
          <div class="row white">
            <div class="small-12 small-centered medium-10 lend columns">
              <%= partial "shared/mm_mobile_call_us" %>
              <div class="padding">
                <%= partial "shared/switch_now" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= partial "terms-and-conditions.html" %>
</section>

<section class="light-grey">
  <div class="row padding padding-bottom-last">
    <%= partial "shared/got_questions" %>
    <%= partial "shared/well_get_in_touch" %>
    <%= partial "shared/live_help_now" %>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function(){
    var cookie = readCookie("questionsOpen");
    if (cookie === "yes") {
      $('#got-questions').show();
    }
    // Define Vimeo player
    var iframe = $('#intro-video')[0];
    var player = $f(iframe);
    $('.vimeo .embed-container').click(function(event) {
      $(".embed-container").addClass("fade-background");
      $('.vimeo h3').fadeOut();
      $('.vimeo .play-btn').fadeOut();
      $('.vimeo .time').fadeOut();
      player.api('play');
    });
    $('#got-questions-link').click(function(){
      createCookie("questionsOpen", "yes", 1);
    })
  });
</script>
<script src="/assets/javascripts/third-party/froogaloop.js" type="text/javascript"></script>
