---
title: "Credit - Powershop, a better power company"
section: "residential"
promotionID: "923"
promotionName: "$150 Credit & SG Offer (923)"
customClass: "credit150 power-the-flat"
---

<section class="header-background white-type text-center">
  <div class="row">
    <div class="small-12 small-centered medium-10 large-8 columns end">
      <%= partial "/assets/images/promos/bribe/150-offer-white.svg" %>
    </div>
  </div>
</section>

<section class="light-grey mobile-white promo-body">
  <div class="row text-center">
    <div class="small-12 small-centered medium-11 columns end">
      <div class="row padding white">
        <div class="small-12 small-centered medium-11 columns end">
          <h2 class="pink-type titles">Sweet deal for Vic Deals</h2>
        </div>
      </div>
      <div class="row">
        <div class="small-12 small-centered columns end">
          <div class="row white">
            <div class="small-12 small-centered end columns">
              <h3>Switch to Powershop and get $150 worth of free power over your first three months. That’s a whole lot of pizza...</h3>
              <h3>You’ll also go in the draw to win a month’s worth of free power (up to $250).</br>That’s a whole lot more pizza!</h3>
              <h4>We’re giving away two prizes every month for the rest of 2017.</br>
                Here are five other reasons Powershop is a better power company for flatters:</h4>
              <div class="row">
                <div class="small-12 small-centered medium-9 end columns">
                  <div class="key-message">
                    <p><span>Pay as you go or whenever suits the flat, with no late payment fees</span></p>
                    <p><span>Save money with our regular discounted power specials</span></p>
                    <p><span>Track your usage on the go with our mobile app</span></p>
                    <p><span>No nasty surprise bills that blow the flat budget</span></p>
                    <p><span>No fixed-term contracts</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 small-centered columns end">
          <div class="row white">
            <div class="small-12 small-centered medium-10 lend columns">
              <%= partial "shared/mm_mobile_call_us" %>
              <div class="padding">
                <%= partial "shared/switch_now" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="overlay_terms_and_conditions" class="reveal-modal" data-reveal>
    <div class="row padding">
      <div class="small-12 small-centered medium-10 columns">
        <h2>Terms and Conditions</h2>
        <a class="close-reveal-modal">&#215;</a>
        <h4>$150 Credit:</h4>
        <p>
          This offer is for new customers only. You will not be eligible to receive this account credit if you’ve received credit for signing up to Powershop within the last 6 months. To receive the $150 worth of free power you need to join Powershop via this page while it is visible. Once you’ve been switched to Powershop, we will credit your account with $50 and you’ll receive a $50 credit on the 20th of each of the following two months. The three account credits worth a total of $150 are only available for use in Powershop for purchasing electricity products and cannot be refunded or redeemed for cash. If you switch away from Powershop within 3 months of becoming a customer then you will not receive any un-credited amounts under this promotion. Your eligibility for this promotion is dependent on you authorising Powershop to conduct a credit check using the details you sign up with and Powershop being satisfied with that credit check.
        </p>
        <h4>To enter the Vic Deals Free Power prize draw you must:</h4>
        <p>
          <ul>
            <li>be over 18 and a New Zealand resident;</li>
            <li>be a natural person (i.e. not a business or other entity);</li>
            <li>sign up to become a Powershop residential customer via the Powershop.co.nz/vicdeals landing page between 1 March 2017 and 31 December 2017.</li>
          </ul>
          <p>To enter the monthly prize draw for a given calendar month, competition entrants must sign up their main home to Powershop via Powershop.co.nz/vicdeals by midnight on the final day of that month.</p>
          <p>There are 20 prizes available (2 winners will be drawn each month). Each winner will receive the value spent on power for their main home (to a maximum of $250) for the billing period following the prize draw back in the form of a Powershop account credit.</p>
          <p>2 winning entries will be drawn at random on the first working day of the following month for each of April 2017 - January 2018 from qualifying entries. Winners will be notified on the same day by phone or email (using their Powershop contact details). Powershop will apply the Powershop account credit within 5 working days of the end of the month of free power. The account credit is only available for use in Powershop for purchasing electricity products and cannot be refunded or redeemed for cash.  All winners must still be customers at the time of the prize draw, and if they have left Powershop their prize will be forfeited and a re-draw will take place.</p>
          <p>Prizes are not transferable. Powershop reserves the right to use the prize winners’ names for publicity purposes without payment.
          <p>Employees, directors, shareholders and contractors (and their immediate family members) of Powershop New Zealand Limited are not eligible to be entered in this prize draw. Powershop reserves the right to amend or cease running this competition at any time by notice on its Facebook page.</p>
          <p>This competition is not sponsored, endorsed or administered by or in association with Facebook or Twitter. You release Facebook and Twitter from any liability or responsibility associated with this competition.</p>
        </p>
      </div>
    </div>
</section>

<section class="light-grey">
  <div class="row padding padding-bottom-last">
    <%= partial "shared/got_questions" %>
    <%= partial "shared/well_get_in_touch" %>
    <%= partial "shared/live_help_now" %>
  </div>
</section>
