---
homepage: "true"
title: "Powershop, a better power company"
description: "Powershop - a better power company, offering business and residential electricity. Call 0800 100 060 to join or sign up online in just 5 minutes."
section: "residential"
---

<%= javascript_include_tag  "assets/edge-animation/edge_includes/edge.5.0.1.min", "modules/animations" %>

<section class="you-cant-lose">
  <div class="container">
    <div class="magenta">
      <div id="main-oct">
        <img src="/assets/images/campaigns/you-cant-lose/micro-desktop.png" align="top" alt="Tickled pink to be rated number one for customer satisfaction">
      </div>
      <div id="learn-more-btn">
        <a style="z-index:1000" href="https://blog.powershop.co.nz/powershop-rated-tops-for-customer-satisfaction" class="button">Learn more</a>
      </div>
    </div>

    <div class="pink white-type">
    <div class="container">
      <h3>Get a better power deal when you switch your main home to Powershop</h3>
        <a href="/150_Credit_SG_Homepage">
          <%= partial "/assets/images/campaigns/you-cant-lose/150-free-power.min.svg" %>
          <%= partial "/assets/images/campaigns/you-cant-lose/guaranteed-savings.min.svg" %>
        </a>
      <a href="/150_Credit_SG_Homepage" class="button">Sign up</a>
    </div>
    </div>
  </div>
</section>

<section class="home-links light-grey">
  <div class="row">
      <div class="small-12 small-centered columns medium-4 medium-uncentered">
        <div class="wrapper">
            <div class="svg"><%= partial "/assets/images/campaigns/you-cant-lose/phone.min.svg" %></div>
            <p class="small"><a href="/toolkit/#powerpocket">Download our mobile app</a> and keep your power in your pocket.</p>
        </div>
      </div>
      <div class="small-12 small-centered columns medium-4 medium-uncentered">
        <div class="wrapper">
            <div class="svg"><%= partial "/assets/images/campaigns/you-cant-lose/camera.min.svg" %></div>
            <p class="small"><a href="/whodoeswhat">See for yourself</a> what goes into your power price.</p>
        </div>
      </div>
      <div class="small-12 small-centered columns medium-4 medium-uncentered end">
        <div class="wrapper">
            <div class="svg"><%= partial "/assets/images/campaigns/you-cant-lose/thumbsup.min.svg" %></div>
            <p class="small"><a href="/our-customers">Averaging over 90% customer satisfaction</a>  eight years in a row.</p>
        </div>
      </div>
  </div>
  <a href="#" id="btn-next" class="btn-next">
      <svg alt="arrow" class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 13" ><path d="M22 2.102l-2.121-2.102-8.879 8.797-8.879-8.797-2.121 2.102 11 10.898z"/></svg>
      <svg class="half-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 38" enable-background="new 0 0 96 38"><path d="M48 37c22.2 0 40.5-16 47-36h-94c6.5 20 24.8 36 47 36z"/></svg>
  </a>
</section>

<section class="how-ps-works">
    <div class="row text-center padding">
        <div class="small-12 small-centered columns end">
            <h2>Take back the power</h2>
            <p>We're an electricity company. But one where you make the rules.</p>
            <div class="row">
                <div class="small-12 medium-4 columns">
                    <a href="/toolkit/#tracking">
                        <script>
                            AdobeEdge.loadComposition('/assets/edge-animation/animation-01', 'EDGE-357241589', {
                            scaleToFit: "none",
                            centerStage: "none",
                            minW: "0",
                            maxW: "undefined",
                            width: "200px",
                            height: "200px"
                            }, {"dom":{}}, {"dom":{}});
                        </script>
                        <div id="usage" class="EDGE-357241589"></div>
                    </a>
                    <h3><a href="/toolkit/#tracking">Know what you're using </a></h3>
                    <p>You'll always know exactly how much you're using and what it costs. Login to your account online, check our weekly email or use our <a href="/toolkit/#powerpocket">mobile app</a>.</p>
                </div>
                <div class="small-12 medium-4 columns">
                    <a href="/toolkit#ourshop">
                        <script>
                            AdobeEdge.loadComposition('/assets/edge-animation/animation-02', 'EDGE-357241590', {
                            scaleToFit: "none",
                            centerStage: "none",
                            minW: "0",
                            maxW: "undefined",
                            width: "200px",
                            height: "200px"
                            }, {"dom":{}}, {"dom":{}});
                        </script>
                        <div id="pay" class="EDGE-357241590"></div>
                    </a>
                    <h3><a href="/toolkit/#ourshop">Pay when you like</a></h3>
                    <p>Pay in advance, pay as you go, or simply pay when we bill you. <a href="/toolkit/#ourshop">It's up to you</a>. No more 'prompt payment discounts' that are really a disguise for late payment penalties.</p>
                </div>
                <div class="small-12 medium-4 columns end">
                    <a href="/toolkit/#powerpacks">
                        <script>
                            AdobeEdge.loadComposition('/assets/edge-animation/animation-03', 'EDGE-357241591', {
                            scaleToFit: "none",
                            centerStage: "none",
                            minW: "0",
                            maxW: "undefined",
                            width: "200px",
                            height: "200px"
                            }, {"dom":{}}, {"dom":{}});
                        </script>
                        <div id="specials" class="EDGE-357241591"></div>
                    </a>
                    <h3><a href="/toolkit/#powerpacks">Save as you go</a></h3>
                    <p>If you have access to our shop, you can grab special discounted <a href="/toolkit/#powerpacks">Powerpacks</a> to make extra savings. Sometimes we even do extra-special specials, just for fun.</p>
                </div>
            </div>
        </div>
    </div>
    <a href="#" id="btn-next" class="btn-next">
        <svg alt="arrow" class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 13" ><path d="M22 2.102l-2.121-2.102-8.879 8.797-8.879-8.797-2.121 2.102 11 10.898z"/></svg>
        <svg alt="circle" class="half-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 38" enable-background="new 0 0 96 38"><path d="M48 37c22.2 0 40.5-16 47-36h-94c6.5 20 24.8 36 47 36z"/></svg>
    </a>
</section>

<section class="light-grey give-us-spin">
    <div class="row text-center padding">
        <div class="small-12 small-centered columns end">
            <div class="row">
                <div class="small-8 small-centered medium-5 medium-uncentered large-offset-1 large-4 columns">
                    <img alt="powershop mobile app screenshot" src="/assets/images/homes/cellphone-tryme.png" class="phone" />
                </div>
                <div class="small-12 medium-7 medium-offset-0 large-7 columns end">
                    <h2 class="text-center">Power up</h2>
                    <p>Download our <a href="/toolkit/#powerpocket">mobile app</a> and put power in your pocket.</p>
                    <div class="row">
                        <div class="small-5 small-offset-1 large-4 large-offset-2 columns">
                            <a href="https://itunes.apple.com/nz/app/powershop-nz/id671350293" target="_blank" rel="noopener noreferrer" class="download-btn">
                                <%= partial "/assets/images/common/app-store.min.svg" %>
                            </a>
                        </div>
                        <div class="small-5 columns large-4 end">
                            <a href="https://play.google.com/store/apps/details?id=nz.co.powershop.android.app" target="_blank" rel="noopener noreferrer" class="download-btn">
                                <%= partial "/assets/images/common/google-play.min.svg" %>
                            </a>
                        </div>
                    </div>
                    <p>Check your usage on the go and, if you have access to our shop, pick up savings in an instant.</p>
                </div>
            </div>
        </div>
    </div>
    <a href="#" id="btn-next" class="btn-next">
        <svg alt="arrow" class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 13" ><path d="M22 2.102l-2.121-2.102-8.879 8.797-8.879-8.797-2.121 2.102 11 10.898z"/></svg>
        <svg alt="half circle" class="half-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 38" enable-background="new 0 0 96 38"><path d="M48 37c22.2 0 40.5-16 47-36h-94c6.5 20 24.8 36 47 36z"/></svg>
    </a>
</section>

<section class="bg-gradient shop-view">
    <div class="row text-center padding">
        <div class="small-12 small-centered columns">
            <img alt="powershop desktop app screenshot" src="/assets/images/homes/macbook.png" />
            <h2 class="white-type">See how much power you’re using, and grab the latest <a href="/toolkit/#powerpacks">specials</a> if you have access to our <a href="/toolkit/#ourshop">online shop</a>.</h2>
        </div>
    </div>
    <a href="#" id="btn-next" class="btn-next-mask">
        <svg alt="arrow" class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 13" ><path d="M22 2.102l-2.121-2.102-8.879 8.797-8.879-8.797-2.121 2.102 11 10.898z"/></svg>
        <svg class="mask" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5000 48" enable-background="new 0 0 5000 48"><path d="M2536.8 0c-5 16-19.6 26.8-36.8 26.8s-31.8-10.8-36.8-26.8h-2463.2v48h5000v-48h-2463.2z"/></svg>
    </a>
</section>

<section class="light-grey speak-to-person">
    <div class="row text-center padding">
        <div class="small-12 small-centered columns end">
            <div class="row">
                <div class="small-10 small-centered medium-8 large-uncentered large-6 text-center columns girl">
                    <img alt="powershop crew anthony" src="/assets/images/homes/anthony.jpg" />
                </div>
                <div class="small-12 small-centered medium-8 large-uncentered large-offset-0 large-5 columns end">
                    <h2>Talk to a real person</h2>
                    <h3 class="pink-type"><a href="tel:0800-1000-60" class="phone"><span>0800 1000 60</span></a></h3>
                    <p>We’re serious about customer service. Our friendly Customer Service Centre team are located locally in Masterton. Give us a call between 8am – 8pm Monday to Friday.</p>
                    <p><a href="/our-customers">Find out what some of our customers say about our service.</a></p>
                </div>
            </div>
            <div class="row padding">
                <div class="small-12 medium-10 small-centered text-center columns end">
                    <p>If you want to get social you can follow us on <a class="facebook" href="http://www.facebook.com/powershop">Facebook</a> and <a class="twitter" href="http://twitter.com/powershop">Twitter</a> and go behind the scenes in the <a class="blog" href="http://blog.powershop.co.nz">Powershop blog</a></p>
                </div>
            </div>
        </div>
    </div>
    <a href="#" id="btn-next" class="btn-next">
        <svg alt="arrow" class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 13" ><path d="M22 2.102l-2.121-2.102-8.879 8.797-8.879-8.797-2.121 2.102 11 10.898z"/></svg>
        <svg class="half-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 38" enable-background="new 0 0 96 38"><path d="M48 37c22.2 0 40.5-16 47-36h-94c6.5 20 24.8 36 47 36z"/></svg>
    </a>
</section>

<section class="pink last-section">
    <div class="padding"></div>
    <div class="two-colours">
        <div class="row" data-equalizer>
            <div class="small-12 medium-6 columns magenta">
                <div class="row padding">
                    <div class="small-4 columns text-center" data-equalizer-watch>
                        <%= partial "/assets/images/homes/icon-location.min.svg" %>
                    </div>
                    <div class="small-7 columns white-type end" data-equalizer-watch>
                        <h2 class="white-type">Is Powershop in my area?</h2>
                        <p>We power homes all over New Zealand. So chances are we’re available at your place! If you’d like to double-check, call us on 0800 1000 60.</p>
                    </div>
                </div>
            </div>
            <div class="small-12 medium-6 columns end purple">
                <div class="row padding">
                    <div class="small-4 columns text-center" data-equalizer-watch>
                        <%= partial "/assets/images/homes/icon-business.min.svg" %>
                    </div>
                    <div class="small-7 columns white-type end" data-equalizer-watch>
                        <h2 class="white-type">Business customers</h2>
                        <p>We power businesses all over New Zealand. <a href="/business">Find out more about Powershop for business</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="start-switch pink">
        <div class="row padding">
            <div class="small-12 small-centered columns end">
                <h2 class="text-center white-type">Start the switch</h2>
                <div class="row white-type text-center wide-gutter" data-equalizer>
                    <div class="small-12 large-4 columns">
                        <%= partial "/assets/images/homes/moving-house.min.svg" %>
                        <div class="conteiner" data-equalizer-watch>
                            <h4 class="white-type">Moving house?</h4>
                            <p data-equalizer-watch>No drama, <a href="/moving-house">you can do it all online</a>. Tell us where you’re moving from and to, and leave the rest to us.</p>
                        </div>
                        <a href="/moving-house" class="button">Get moving</a>
                    </div>
                    <div class="small-12 large-4 columns">
                        <%= partial "/assets/images/homes/switch-online.min.svg" %>
                        <div class="conteiner" data-equalizer-watch>
                            <h4 class="white-type">Switch online</h4>
                            <p>It only takes a couple of minutes to switch. <a href="/150_Credit_SG_Homepage">Simply fill in a form</a> and we’ll do the rest. We’ll even contact your old power supplier.</p>
                        </div>
                        <a href="/150_Credit_SG_Homepage" class="button">Start the switch</a>
                    </div>
                    <div class="small-12 large-4 columns end">
                        <%= partial "/assets/images/homes/winky-chat.min.svg" %>
                        <div class="conteiner" data-equalizer-watch>
                            <h4 class="white-type">Switch on the phone</h4>
                            <p>Call our friendly team between 8am — 8pm Monday to Friday and they’ll take care of the switch for you.</p>
                            <a href="tel:0800-1000-60" class="button phone"><span>0800 1000 60</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Supplied Area Module -->
<div id="availableAreas" class="reveal-modal" data-reveal>
    <div class="row">
        <div class="small-12 medium-10 medium-offset-1 end columns">
            <h2>Powershop is currently available in:</h2>
            <a class="close-reveal-modal">&#215;</a>
        </div>
        <div class="small-12 medium-5 medium-offset-1 columns">
            <h3>North Island</h3>
            <ul class="list-bullet">
                <li>Auckland</li>
                <li>Franklin</li>
                <li>Waikato</li>
                <li>Tauranga</li>
                <li>Rotorua</li>
                <li>Taupo</li>
                <li>New Plymouth</li>
                <li>Hawkes Bay</li>
                <li>Wanganui</li>
                <li>Palmerston North</li>
                <li>Horowhenua</li>
                <li>Kapiti</li>
                <li>Wairarapa towns</li>
                <li>Wellington</li>
            </ul>
        </div>
        <div class="small-12 medium-5 columns end">
            <h3>South Island</h3>
            <ul class="list-bullet">
                <li>Christchurch</li>
                <li>Queenstown Lakes</li>
                <li>Cromwell</li>
                <li>Clyde</li>
                <li>Roxburgh</li>
                <li>Dunedin</li>
                <li>Otago</li>
                <li>Southland</li>
            </ul>
        </div>
        <div class="small-12 medium-10 medium-offset-1 end columns">
            <h4>Still unsure? Try our <a href="/supply-checker/" onclick="_gaq.push(['_trackPageview', 'virtual/what-is-powershop/street-search']); _gaq.push(['_trackEvent', 'Reveal', '3-questions-what-is-powershop', 'Street-search', 0]);">supply checker</a> to confirm we&rsquo;re available in your suburb or township.</h4>
        </div>
    </div>
</div>
<!-- END Supplied Area Module -->

<%= partial "shared/deals" %>
<%= javascript_include_tag "modules/section_equalizer" %>
